<div style="font-family: sans-serif;">
    <h2 style="color: blue;">
        hello <span style="color: black;"> <%= email%></span>
    </h2>
    <p style="color: aqua;">
        you logged in to your account in <%= today.toDateString()%> at <%= today.toLocaleTimeString()%> 
    </p>
</div>