
<div style="font-family: sans-serif;">
    <h2 style="color: #555;"> 
        verify you email address
    </h2>
    <p style="color: black;">
        click on the link in the below to activate account
    </p>
    <a href="<%= link %>">
        verify your Account
    </a>
</div>